<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor=""
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="run.app" />
    <add key="PYTHONPATH" value="C:\www\RASVMO\backend" />
    <add key="WSGI_LOG" value="" />   
  </appSettings>
</configuration>